.container{
    min-height: 80vh;
}
.banner{
    min-height: 300px;
    background: #f4f0f0;
}
.banneritem{
    position: relative;
    img{
        width: 100%;
    }
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}